/* Selector de tagname */
h1 {
    color: red;
    font-size: 45px;
}

/* Selector universal */
* {
    color:seagreen;
}

/* Selector ID */

#palabra {
    font-weight:normal;
}

/* Selector de clase */

.palabras {
    font-weight: lighter;
}

.palabras2 {
    text-decoration: underline;
}
